body, html {
   margin: 0;
   padding: 0;
}

h1 {
   font-family: $font-title;
   font-size: 32px;
   font-weight: bold;
   line-height: 1.3;
   padding-bottom: 0px;
   padding-top: 0px;
   padding-left: 20px;
}

p {
   font-family: $font-body;
   font-size: 14px;
   padding-left: 20px;
}



body {
   padding: 40px 40px 40px 40px;
   background-color: $purple;
   color: white; 
   background-image: url(/images/bg-mobile.svg);
   background-size: cover;
   background-repeat: no-repeat;
   margin: 0;

   @media screen and (min-width: 1024px) {
      background-image: url(/images/bg-desktop.svg);
   }
}

main {

   @media screen and (min-width: 1024px){
         display: grid;
         grid-template-columns: repeat( 2, minmax(250px, 1fr) );
         
   }

}

.heroImage {

   @media screen and (min-width: 1024px){

   }

   img {
      width: 100%;
   }

}


.heroText{

   text-align: center;
   margin-bottom: 50px;

   @media screen and (min-width: 1024px){
   padding-left: 60px;
   line-height: 1.5;
   text-align: left;
   }

}

.cta {
   background: white;
   color: rgb(65, 17, 65);
   border-radius: 40px;
   font-family: $font-body;
   box-shadow: 8px 6px 10px rgb(73, 2, 73);
  

   @media screen and (min-width: 1024px){
      padding: 20px 66px;

      }
}